.gift-container {
    /* background-color: orange; */
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 800px;
    height: 400px;
    overflow: scroll;
    font-family: "Monaco";
    

}

.main-box {
    /* background-color: black; */
    width: 800px;
    
    margin: auto;
    font-family: "Monaco";
    
}

h2 {
    margin-top: 30px;
	color:rgb(207, 125, 255);
    font-size: 50px;

    /* color: transparent; */
    /* opacity: 70%; */
	font-weight: 250;
    text-shadow: 2px 2px #b5ecfa;
    font-family: "Copperplate";
	
}