.thanks-box {
    /* background-color: orange; */
        
    /* width: 100px; */
    width: 400px;
    height: 400px;
    margin: 5px;
    border: double;
    border-radius: 10px;
    border-color: rgb(223, 183, 255);
    font-family: "Monaco";
    position: absolute;
    left: 0;
    overflow: scroll;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);   

    /* justify-content: space-between; */
}
